version: '3.8'

services:
  zookeeper:
    image: wurstmeister/zookeeper:3.4.6
    container_name: zookeeper
    ports:
      - "2181:2181"

  kafka:
    image: wurstmeister/kafka:2.12-2.7.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
    depends_on:
      - zookeeper

  producer-service:
    build: ./producer-service
    container_name: producer-service
    ports:
      - "8081:8081"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      - kafka

  consumer-a-service:
    build: ./consumer-a-service
    container_name: consumer-a-service
    ports:
      - "8091:8091"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      - kafka

  consumer-b-service:
    build: ./consumer-b-service
    container_name: consumer-b-service
    ports:
      - "8092:8092"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      - kafka
